<div class="container toskew ">
  <form method="POST" action="#" class="tounskew">
    <h1 class="">CONTACT. ME</h1>
    <div class="profile tounskew">

      </div>
    <input type="text" placeholder="Full Name"><br>
    <input type="email" placeholder="Email Address"><br>
    <textarea cols="26" rows="15" placeholder="Message..."></textarea><br>
    <button type="submit">Send Message</button>
  </form>
  
</div>
<div class="footer">
  <p class="fot-unskew">Created by Matsuma Keketso @mlab/Soweto</p>
</div>
<button class="back" (click)="goBack()">Back to Resume</button>
<div class="line"></div>
<div class="line1"></div>