<div class="container">
  <div class="left-tab">
      <div class="picture">
          <img src="assets/me.jpg" alt="Profile Picture">
          <div class="name">
              <h1><span>Keketso</span> <b>Matsuma</b></h1>
              <p>Mobile App Developer</p>
          </div>
      </div>
      <div class="line"></div>
      <div class="contacts">
          <div class="social-contact">
              <div class="s-icon">
                  <img src="../assets/contact-icons/user.png">
              </div>
              <div class="det">
                  <p>(+27) 64 282-8115</p>
              </div>
          </div>
          <div class="social-contact">
              <div class="s-icon">
                      <a href="https://www.facebook.com/keketso.matsumakm">
                          <img src="../assets/contact-icons/facebook.png"> 
                      </a>
              </div>
              <div class="det">
                  <p>Facebook</p>
              </div>
          </div>
          <div class="social-contact">
              <div class="s-icon">
                  <img src="../assets/contact-icons/whatsapp.png"> 
              </div>
              <div class="det">
                  <p>(+27) 84 635-8176 / (+27) 64 282-8115</p>
              </div>
          </div>
          <div class="social-contact">
                  <div class="s-icon">
                      <img src="../assets/contact-icons/gmail.png"> 
                  </div>
                  <div class="det">
                      <p><a href="mailto:keketsomatsuma88@gmail.com">keketsomatsuma88@gmail.com</a></p>
                  </div>
              </div>
      </div>
      <div class="line"></div>
      <div class="info">
          <p>27 January 1996 <br>
              No Driver's License <br>
              Johannesburg, Gauteng <br>
              Gauteng, Soweto, Naledi <br>
              South African
          </p>
      </div>
      <div class="line"></div>
      <div class="icons">
          <div class="adobe">
              <img src="../assets/adobe/icons8-adobe-after-effects-48.png" alt="After Effects" title="After Effects">
              <img src="../assets/adobe/icons8-adobe-illustrator-48.png" alt="Illustrator" title="Illustrator">
              <img src="../assets/adobe/icons8-adobe-indesign-48.png" alt="Indesign" title="Indesign">
              <img src="../assets/adobe/icons8-adobe-photoshop-48.png" alt="Photoshop" title="Photoshop">
          </div>
          <div class="programming">
              <img src="../assets/programming/icons8-css3-48.png" alt="CSS3" title="CSS3">
              <img src="../assets/programming/icons8-javascript-48.png" alt="JavaScript" title="JavaScript">
              <img src="../assets/programming/icons8-php-48.png" alt="PHP" title="PHP">
          </div>
      </div>
  </div>

  <div class="right-tab">
      <h1>SUMMARY PROFILE</h1>
      <div class="profile-details">
          <p>Mr Matsuma is a student at SWGC George Tabor who studies Information and Computer Science. He passed his level 3 and 2 with distinctions and also his matric with a Bachelor’s Degree in 2014. An enthusiast, creative individual with competitive skills that allows him to apply problem solving strategies in a variaty of situations with the skills that he gains while at the college. He posesses programming skills in web development and also Graphic Design. He has good communication, telephone etiquette and very good with working with computers. His ambition is seeing himself as an expert in the mentioned divisions and he works everyday to enhance his skills in Information Technology and aims to be a part of an organisation that values career development and encourages learning through guided experience and opportunity.</p>
      </div>
      <div class="sections">
          <div class="sub-section">
              <div class="header">
                  <h3>Education</h3>
                  <h5>2016 - 2018</h5>
              </div>
              <div class="details">
                  <p >South West Gauteng College</p>
                      <p style="margin: 10px 0px;"><b>George Tabor Campus</b></p>
                      <p>Information Technology &amp; Computer Science
                  </p>
              </div>
              <div class="details">
                          <p style="margin: 10px 0px;"><b>Thabo High School</b></p>
                          <p>Highest Grade Passed: 12
                      </p>
                  </div>
          </div>
          <div class="sub-section">
              <div class="header">
                  <h3>Skills</h3>
                  <h5>Computer Skills</h5>
              </div>
              <div class="details">
                  <ul>
                      <li>Microsoft Office</li>
                      <li>Adobe Photoshop</li>
                      <li>Adeobe Illustrator</li>
                      <li>Adobe XD</li>
                      <li>Adobe After Effects</li>
                  </ul>
              </div>
              <div class="header">
                  <h5>Programming Skills</h5>
              </div>
              <div class="details">
                  <ul>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>JavaScript</li>
                      <li>VB.Net</li>
                      <li>PHP</li>
                      <li>SQL</li>
                  </ul>
              </div>
          </div>
          <div class="sub-section">
              
              <div class="header">
                  <h3>Intrests</h3>
              </div>
              <div class="details">
                  <p>Basketball • Reading e-books &amp; listerning to Audio books • Music production • Drawing (Pencil &amp; Digital art) • Architectural Interest
              </div>
          </div>
          <div class="sub-section">
              <div class="header">
                  <h3>References</h3>
              </div>
              <div class="details">
                  <p>Othiniel Mogotshi <br>
                      Head Lecturer - IT SWGC
              </div>
          </div>
      </div>
  </div>
</div>
<div class="c-trigger">
<div class="rot-text">
  <p><a routerLink="/contact-me">Contact Me.</a></p>
</div>
